<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <meta name="description" content="layout library API docs, for the Dart programming language.">
  <title>layout library - Dart API</title>


  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">
  
  <link rel="stylesheet" href="../static-assets/github.css?v1">
  <link rel="stylesheet" href="../static-assets/styles.css?v1">
  <link rel="icon" href="../static-assets/favicon.png?v1">

  
</head>


<body data-base-href="../" data-using-base-href="false" class="light-theme">

<div id="overlay-under-drawer"></div>

<header id="title">
  <span id="sidenav-left-toggle" class="material-symbols-outlined" role="button" tabindex="0">menu</span>
  <ol class="breadcrumbs gt-separated dark hidden-xs">
    <li><a href="../index.html">dt</a></li>
    <li class="self-crumb">layout.dart</li>
  </ol>
  <div class="self-name">layout</div>
  <form class="search navbar-right" role="search">
    <input type="text" id="search-box" autocomplete="off" disabled class="form-control typeahead" placeholder="Loading search...">
  </form>
  <div class="toggle" id="theme-button" title="Toggle brightness">
    <label for="theme">
      <input type="checkbox" id="theme" value="light-theme">
      <span id="dark-theme-button" class="material-symbols-outlined">
        dark_mode
      </span>
      <span id="light-theme-button" class="material-symbols-outlined">
        light_mode
      </span>
    </label>
  </div>
</header>
<main>

<div
    id="dartdoc-main-content"
    class="main-content"
    data-above-sidebar=""
    data-below-sidebar="layout&#47;layout-library-sidebar.html">
  
    <div>
      

      <h1>
        <span class="kind-library">layout</span>
        library 
 

      </h1>
    </div>

    
<section class="desc markdown">
  <p>Layout definitions, computations, and utilities.</p>
<p>The coordinate system runs left-to-right on the x-axis and top-to-bottom on
the y-axis, with the origin <a href="../foundation/Offset/zero-constant.html">Offset.zero</a> at the top-left corner. The <code>x</code>
and <code>y</code> coordinates are represented by <a href="https://api.dart.dev/stable/3.4.4/dart-core/int-class.html">int</a> values and are generally listed
in the order <code>(x, y)</code>.</p>
<pre class="language-txt"><code class="language-txt">(0, 0) -------------------------&gt; x (columns)
       |
       |
       |
       |
       |
       |
       |
       v
       y (rows)
</code></pre>
</section>


    <section class="summary offset-anchor" id="classes">
      <h2>Classes</h2>

      <dl>
          <dt id="Offset">
  <span class="name "><a href="../foundation/Offset-class.html">Offset</a></span> 

</dt>
<dd>
  A 2D offset relative to the top left corner of a coordinate space.
</dd>

          <dt id="Rect">
  <span class="name "><a href="../foundation/Rect-class.html">Rect</a></span> 

</dt>
<dd>
  A rectangular area defined by its top-left corner <code>(x, y)</code> and dimensions.
</dd>

          <dt id="Spacing">
  <span class="name "><a href="../layout/Spacing-class.html">Spacing</a></span> 

</dt>
<dd>
  Defines spacing insets for edges of a box.
</dd>

      </dl>
    </section>










  </div> <!-- /.main-content -->

  <div id="dartdoc-sidebar-left" class="sidebar sidebar-offcanvas-left">
    <!-- The search input and breadcrumbs below are only responsively visible at low resolutions. -->
<header id="header-search-sidebar" class="hidden-l">
  <form class="search-sidebar" role="search">
    <input type="text" id="search-sidebar" autocomplete="off" disabled class="form-control typeahead" placeholder="Loading search...">
  </form>
</header>

<ol class="breadcrumbs gt-separated dark hidden-l" id="sidebar-nav">
    <li><a href="../index.html">dt</a></li>
    <li class="self-crumb">layout.dart</li>
</ol>


    <h5><span class="package-name">dt</span> <span class="package-kind">package</span></h5>
    <ol>
      <li class="section-title">Libraries</li>
      <li><a href="../foundation/foundation-library.html">foundation</a></li>
      <li><a href="../layout/layout-library.html">layout</a></li>
      <li><a href="../rendering/rendering-library.html">rendering</a></li>
      <li><a href="../terminal/terminal-library.html">terminal</a></li>
      <li><a href="../widgets/widgets-library.html">widgets</a></li>
</ol>

  </div>

  <div id="dartdoc-sidebar-right" class="sidebar sidebar-offcanvas-right">
    <h5>layout library</h5>
  </div><!--/sidebar-offcanvas-right-->

</main>

<footer>
  <span class="no-break">
    dt
      0.0.0-unknown
  </span>

  
</footer>



<script src="../static-assets/highlight.pack.js?v1"></script>
<script src="../static-assets/docs.dart.js"></script>



</body>

</html>

